.message {
    transform: translateY(2em);
    animation: popOut 2s linear 0s 1 forwards;
    opacity: 0;
}

@keyframes popOut {
    25% {
        transform: translateY(0em);
        opacity: 1;
    }
    90% {
        opacity: 1;
        transform: translateY(0em);
    }
    100% {
        transform: translateY(5em);
        opacity: 1;
    }
}